/* @VARIABLES */
/* ********** */

// TIPOGRAFIA
$fontSize: 16px;
$fontFamily: "arialRegular", sans-serif;
$fontFamily-bold: "arialBold", sans-serif;

// COLORES
$colores: (
    naranja: #F2624A,
    salmón: #FFE6D1,
    negro: #000000,
    gris: #C4C4C4,
    blanco: #F8F6EE
);

// TAMAÑOS
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);

$breakpoints: (
    smartphone: 320px,
    ipad: 768px,
    desktop: 1100px
);

$margenes: (
    internos: 20px,
    navHorizontal: 10px
);